<div class="profile_page">
    <mat-card class="profile">
        <mat-card-header class="header">
            <img mat-card-avatar class="avatar" src="{{userProfile?.img}}">
            <mat-card-title class="name">{{userProfile?.name}}</mat-card-title>
            <mat-card-subtitle class="email">{{userProfile?.userEmail}}</mat-card-subtitle>
        </mat-card-header >
        <mat-card-content class="content">
            <p><b>Gender:</b> {{userProfile?.gender}}</p>
            <p><b>Age:</b> {{userProfile?.age}}</p>
        </mat-card-content>
        <div class="count">
            <div class="comment">
                <mat-icon> comment</mat-icon>
                <span>3</span>
            </div>
            <div class="like">
                <mat-icon>favorite_border</mat-icon>
                <span>0</span>
            </div>
        </div>
    </mat-card>
</div>
