<mat-card class="story" *ngIf="checkPost()">
    <mat-card-header class="user">
        <img mat-card-avatar class="avatar" src="{{post?.publisherImg}}">
        <mat-card-title class="name">{{post?.publisherName}}</mat-card-title>
        <mat-card-subtitle class="time">{{post?.publisherTime}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="post">
        <p class="content" >{{post?.content?.text}}</p>
    </mat-card-content>
    <mat-card-actions class="action-container">
        <div class="action">
            <button mat-icon-button class = "button">
                <mat-icon> comment</mat-icon>
            </button>
            <span>{{post?.comment?.length}}</span>
        </div>
        <div class="action">
            <button mat-icon-button class = "button" (click)="deletePost(post?._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>